.button {
    height: 50px !important;
    border-radius: 8px !important;
    font-weight: 700 !important;
    background: #835af2 !important;
    color: #fff !important;
    text-decoration: none !important;
    padding: 0 32px !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    cursor: pointer !important;
    border: 0 !important;
    transition: filter 0.2s !important;

    img {
        margin-right: 8px !important;
    }

    &:not(:disabled):hover {
        filter: brightness(0.9) !important;
    }

    &:disabled {
        opacity: 0.6 !important;
        cursor: not-allowed !important;
    }
}
